.topbar {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
}
.topbarWrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-style: 30px;
  color: darkblue;
  cursor: pointer;
}

.topbarRight {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topbarIconsContainer {
  position: relative;
  margin-right: 10px;
  cursor: pointer;
  color: #555;
}

.topIconBadge {
  position: absolute;
  top: -5px;
  right: -2px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  font-size: 10px;
  background-color: red;
  color: white;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topAvatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
