.userList {
  flex: 4;
  padding: 20px;
}

.userListUser {
  display: flex;
  align-items: center;
}

.userListUserImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.userListEdit {
  border: none;
  margin-right: 20px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
}

.userListDelete {
  color: red;
  cursor: pointer;
}
